*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #44475a;
}
h1{
    text-align: center;
    color: white;
    padding-bottom: 10px;
    font-family: verdana;
}
h2{
    padding-bottom: 10px;
    text-align: center;
    color: white;
    font-family: verdana;
}
h3{
    padding-bottom: 10px;
    text-align: center;
    color: white;
    font-family: verdana;
}
p{
    color: white;
    font-family: arial;
}
a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: verdana;
}
#linha{
    border-color: dimgray;
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
}
#painel{
    background-color: #212330;
    padding: 15px;
}#painel>p{
    background-color: #74e0f8;
    border-radius: 10px;
    width: 200px;
    text-align: center;
    padding: 10px;
}








#part1{
    color: white;
    width: 15px;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
    text-align: center;
    margin-right: 3px;
    margin-left: 3px;
    color: white;
    font-size: 20px;
    font-family: verdana;

}#part1:hover{
    background-color: rgb(0, 0, 0);

}


#part2{
    color: white;
    width: 15px;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
    text-align: center;
    margin-right: 3px;
    margin-left: 3px;
}#part2:hover{
    background-color: rgb(0, 0, 0);

}



/*fazer o estilo de codigo*/
#background-dracula{
    margin-left: 10px;
    border-radius: 5px;
    padding: 10px;
    width: 300px;
    background-color: #282a36;
    color: white;
    font-size: 20px;
    margin-bottom: 5px;
    margin-top: 5px;
    font-family: arial;
}
#rosa{
    color: #ff79c6;
}
#roxo{
    color: #bd93f9;
}
#verde{
    color: #50fa7b;
}
#amarelo{
    color: #f1fa8c;
}